<html>
<head>
    <title>Places Been</title>
</head>
<body>
    <h1>You've visited: </h1>
    <p>{{ newplace.getPlace_name }}</p>
    <p><a href='/'>View the places you've visited.</a></p>
</body>
</html>
